<div class="container new-completed-assignment">
  <div class="row">
    <div class="large-8 comlumns panel">
      <h3>Submit Assignment</h3>

      <%= render 'form' %>

      <%= link_to 'Back', assignments_path %>
    </div>
  </div>
</div>
