.login {
  background-image: url("code.jpg");
  background-color: lightgrey;
  height:700px;

  a {
    color: #008cba;
  }
}

.dialog {
  padding-top: 40px;
}

.signup {
  background: url("tweed.png") repeat;
 }

 a.button  {
   color: white;
 }
